<style>
ul {
   h1 {
    font-size: 250%;
}

h2 {
    font-size: 200%;
}

p {
    font-size: 100%;
}
body{
	background-image: url(https://ae01.alicdn.com/kf/HTB1iFtEMFXXXXa4XVXXq6xXFXXXo/THICK-THIGHS-SAVES-LIVES-Swimwear-Women-Sexy-Swimsuit-Funny-Bodysuit-Bathing-Suit-Jumpsuits-Rompers-One-Piece.jpg);
	background-size: 100%;
}